
@font-face{
    font-family:HelvericalNowText-Bold;
    src:url(../fonts/HelveticaNowText-Bold.ttf)
}


@font-face{
    font-family:Nike-font;
    src:url(../fonts/Nike.otf)
}
	
	
	* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    nav ul {
      list-style-type: none;
    }
    
    nav ul li {
      display: inline;
      margin-right: 20px;
    }
    
    nav ul li a {
      color: #fff;
      text-decoration: none;
    }
    .sliding-text {
      overflow: hidden;
      white-space: nowrap;
  
     font-family: "Futura Condensed Extra";
      font-size: 20px;
    }
    
    @keyframes slideRightToLeft {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }


    .text-container {
      display: inline-block;
      animation: slideRightToLeft 12s linear infinite;
      margin-right: 150px;
    }
    .video-container {
      display: flex;
      justify-content: center;
      overflow: hidden;
    }
    .video-container video {
      width: auto;
     
  width:120%;
  height: auto;
    }
        

    .p {
	  font-family: Nike-font, sans-serif;
      font-size: 70px;
      text-align: center;
	  font-weight: bold;
	  letter-spacing: -5px;
    }
    
    .p1,
    .p3 {
		font-family: Helvetica, sans-serif;
		font-size: 28px;
		margin-left: 50px;
		padding-bottom: -10px;
    }
    
    .p4 {
      font-size: 40px;
      font-weight: 100;
      text-align: left;
      margin-left: 100px;
    }
    
    
    
    .p2 {
      font-size: 70px;
      font-weight: 300;
      text-align: center;
    }
    
    .h3 {
	padding-top: 15px;
	font-family: Helvetica, sans-serif;
      font-size: 18px;
      text-align: center;
    }
    
    .h5 {
		font-family: Helvetica, sans-serif;
      font-size: 28px;
      margin-left: 50px;
	  padding-bottom: -10px;
    }
    
    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Nunito", sans-serif;
    }
    
    .button {
      color: white;
      font-size: 18px;
      background-color: black;
      padding: 10.5px 25px;
      border-radius: 30px 30px 30px 30px; /* This will make the button oval-shaped */
      border: none; /* Remove border */
      cursor: pointer; /* Add cursor pointer */
      transition: filter 0.3s ease; /* Add transition effect */
    }

    .slider-container,
    .slider-container2 {
      overflow-x: hidden;
      white-space: nowrap;
      width: 100%;
      padding: 20px;
      align-items: center;
      overflow-x: auto; /* Allow horizontal scrolling */
      white-space: nowrap; /* Prevent line breaks */
      -webkit-overflow-scrolling: touch;
      margin-left: auto;
      margin-right: auto;
    }


	/* SLIDE 3 */

	.slider-container3 {
		overflow-x: hidden;
		white-space: nowrap;
		width: 100%;
		padding-left: 50px;
		padding-right: 50px;
		align-items: center;
		overflow-x: auto; /* Allow horizontal scrolling */
		white-space: nowrap; /* Prevent line breaks */
		-webkit-overflow-scrolling: touch;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 30px;
	  }

	  .slide3 {
		display: inline-block;
		width: 32%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	  }

	  .slide3 img{
		height: 550px;
		width: auto;
		/* padding-left: 10px;
		padding-right: 10px; */
		/* padding-bottom: 25px; */
	  }
      

    .slide-track
    {width: 400px;
      height: 430px;
      padding: 0px;
      display: block;}

    .slide {
      display: inline-block;
      width: 35%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }

    .slide img {
      width: 500px;
      height: 480px;
      padding: 0px;
      margin: auto;
      display: block;
    }
    .image-slider {
      position: relative;
      margin: 0 auto;
      overflow: hidden;
    }
    
    .slider-container img {
      width: 490px; /* 调整图片的宽度 */
      height: 500px; /* 根据宽度自动调整高度 */
      margin-right: 20px; /* 调整图片之间的间距 */
    }
    

    
    .button-overlay {
		font-family: "HelvericalNowText-Bold", sans-serif;
      position: absolute;
      bottom: 30px; /* Adjust button position */
      left:20px; /* Adjust button position */
      background-color: rgb(255, 255, 255); /* Semi-transparent black */
      color: rgb(0, 0, 0);
      font-size:15px;
      padding: 7px 16px;
      border: none;

      border-radius: 30px; /* Make it oval-shaped */
      cursor: pointer;
      transition: filter 0.3s ease; /* Add transition effect */
    }
    
    .button-overlay:hover {
      filter: brightness(70%); /* On hover, reduce brightness */
    }
    .text-overlay {
      position: absolute;
      top: 83%;
      left: 30%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 18px;
    }

      .slider-container {
        display: flex; /* Set display to flex for horizontal layout */
      }
      
      .slide2 {
        flex: 1; /* Distribute available space equally among the slides */
        position: relative;
      }
      
      .slide2 img {
        width: 100%; /* Ensure the image fills its container */
        padding:20px;
        height: 580px; /* Maintain aspect ratio */
      }
  
      .button-overlay2 {
        position: absolute;
        bottom: 44px; /* Adjust button position */
        left:40px; /* Adjust button position */
        background-color: rgb(0, 0, 0); /* Semi-transparent black */
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-family: "HelvericalNowText-Bold", sans-serif;
        padding: 8px 15px;
        border: none;
        border-radius: 30px; /* Make it oval-shaped */
        cursor: pointer;
        transition: filter 0.3s ease; /* Add transition effect */
      }
      
      .button-overlay2:hover {
        filter: brightness(70%); /* On hover, reduce brightness */
      }
      .slide p {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 18px; /* Adjust the font size as needed */
        color: #333; /* Adjust the text color as needed */
        text-align: center;
        margin-top: 10px; /* Adjust the top margin as needed */
      }
      
      /* .slide p b {
        font-weight: bold; Make bold the text inside <b> tags
      } */

      ::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	  }
	  
	  /* Track */
	  ::-webkit-scrollbar-track {
		background: #f1f1f1; 
	  }
	   
	  /* Handle */
	  ::-webkit-scrollbar-thumb {
		background: #888; 
	  }
	  
	  /* Handle on hover */
	  ::-webkit-scrollbar-thumb:hover {
		background: #555; 
	  }
    @font-face {
      font-family: 'HelveticaNowText-Bold';
      src: url('Image\HelveticaNowText-Bold.ttf') format('HelveticaNowText-Bold'),
    }

   .slider-container a {
	text-decoration: none;
   }